<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Vebinar1_Android"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vebinar1_Android"
        tools:targetApi="31">
        <activity
            android:name=".ActivityD"
            android:exported="false"
            android:taskAffinity="com.some.new.affinity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".ActivityC"
            android:exported="false"
            android:taskAffinity="com.some.new.affinity"/>
        <activity
            android:name=".ActivityB"
            android:exported="false"
            android:taskAffinity="com.some.new.affinity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".ActivityA"
            android:exported="false"
            android:launchMode="singleTask"/>
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
<activity
            android:name=".TestResources"
            android:exported="true">
</activity>
    </application>

</manifest>